
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="my-4">
    <section>
        <h2>Sai Gon, Vietnam</h2>
        <div class=" d-flex justify-content-between">
            @*Host name*@
            <div class="d-flex flex-md-row flex-column gap-4">

                <div class="d-flex align-items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#ff5f63" d="M10 20H6q-.425 0-.713-.288T5 19v-7H3.3q-.35 0-.475-.325t.15-.55l8.35-7.525q.275-.275.675-.275t.675.275L16 6.6V5q0-.425.288-.713T17 4h1q.425 0 .713.288T19 5v4.3l2.025 1.825q.275.225.15.55T20.7 12H19v7q0 .425-.288.713T18 20h-4v-5q0-.425-.288-.713T13 14h-2q-.425 0-.713.288T10 15v5Zm0-9.975h4q0-.8-.6-1.313T12 8.2q-.8 0-1.4.513t-.6 1.312Z" /></svg>
                    <p>Huynh Nhat Quan</p>
                </div>


                <div class="d-flex align-items-center gap-1 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#ff5f63" d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zm8.94 3A8.994 8.994 0 0 0 13 3.06V1h-2v2.06A8.994 8.994 0 0 0 3.06 11H1v2h2.06A8.994 8.994 0 0 0 11 20.94V23h2v-2.06A8.994 8.994 0 0 0 20.94 13H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7z" /></svg>
                    <p>
                        Gyeongju-si, North Gyeongsang Province, South Korea
                    </p>
                </div>

            </div>
            <div class="flex-md-row flex-column">

                @*@Favorite Button*@
                <div class="col">
                    <div class="parent">
                        <div class="child">

                            <input type="checkbox" id="favorite" name="favorite-checkbox" value="favorite-button">
                            <label for="favorite" class="container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ff5f63" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>

                                <div class="action">
                                    <span class="option-1">Save</span>
                                    <span class="option-2">Saved</span>
                                </div>

                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    @*Grid Room Image*@
    <section class="mx-auto my-5 ">
        <div class="d-flex gap-3 flex-wrap mx-auto mx-md-0 justify-content-center ">
            <div class=" room-grid">
                <img width="550" height="400" class="object-fit-cover" src="~/Assets/Images/room_2.jpg" alt="1" />
            </div>
            <div class="d-flex gap-4 overflow-hidden"
                 style="border-top-right-radius: 40px; border-bottom-right-radius: 40px;">
                <div class="d-flex flex-column row-gap-1">
                    <div class="">
                        <img class="object-fit-cover mini-room-image" src="~/Assets/Images/room_1.jpg" alt="1" />
                    </div>

                    <div class="">
                        <img class="object-fit-cover mini-room-image" src="~/Assets/Images/room_2.jpg" alt="1" />
                    </div>
                </div>

                <div class="d-flex flex-column row-gap-1">
                    <div class="">
                        <img class="object-fit-cover mini-room-image " src="~/Assets/Images/room_3.jpg" alt="1" />
                    </div>

                    <div class="">
                        <img class="object-fit-cover mini-room-image" src="~/Assets/Images/room_4.jpg" alt="1" />
                    </div>
                </div>

            </div>



        </div>



    </section>


    @*DETAIL BODY*@
    <section class="my-5">
        <div class="row  flex-column-reverse flex-lg-row gap-md-4 align-items-center justify-content-center align-items-md-start justify-content-md-start ">
            <div class="col-lg-7 col px-2 ">
                <div class="d-flex align-items-center justify-content-between bg-body py-4 border-custom-bottom">
                    <div class="d-flex flex-column ">
                        <p class="fw-bold fs-4">
                            House hosted by JASON
                        </p>
                        <p class="text-black-50">
                            3 guests - 1 bedroom - 1 bed - 1 bath
                        </p>
                    </div>
                    <a href="@Url.Action("About","User")">
                        <img width="55" height="55" class="object-fit-cover rounded-circle" src="~/Assets/Images/quan.png" alt="Alternate Text" />
                    </a>
                </div>


                @*Description*@
                <div class="py-3">
                    <p class="text-description ">
                        Located in the Bomun Tourist Complex in Gyeongju, at the end of the road, 7 minutes by car from Bomun Complex, 5 minutes from Bumun Temple, Gyeongju's downtown area, and about 20 minutes to Yangnam and Gampo (sea area station), our accommodation is located in a good area to travel.

                        Lazy House is a warm wooden house that is a great space for couples to use. You can see Mt. Tohamsan in the emotional room:)

                        Enjoy barbecue and relaxation on the private terrace looking at the yard:)


                    </p>
                </div>

                @*Comment*@


                <div class="container my-4">

                    <div class="row height d-flex justify-content-center align-items-center">

                        <div class="col px-md-0">

                            <div class="card">

                                <div class="p-3">

                                    <h6 class="primaryColor fw-bold fs-4">Reviews</h6>

                                </div>

                                <div class="mt-3 d-flex flex-row gap-4 align-items-center p-3 form-color">

                                    <img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2">
                                    <textarea class="comment-section" placeholder="Enter your comment..."></textarea>

                                </div>


                                <div class="mt-2">

                                    <div class="d-flex flex-row p-3 gap-4">

                                        <img src="https://i.imgur.com/zQZSWrt.jpg" width="32" height="32" class="rounded-circle mr-3">

                                        <div class="w-100">

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center gap-2">
                                                    <span class="mr-2 fw-medium fs-6">Donald Trump</span>
                                                    <small class="c-badge">Top Comment</small>
                                                </div>


                                            </div>

                                            <p class="text-justify comment-text mb-0">Good Service, Best view, good expermient ! , Good Service, Best view, good expermient !, Good Service, Best view, good expermient !</p>


                                        </div>


                                    </div>


                                    <div class="d-flex flex-row p-3 gap-4">

                                        <img src="https://i.imgur.com/zQZSWrt.jpg" width="32" height="32" class="rounded-circle mr-3">

                                        <div class="w-100">

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center gap-2">
                                                    <span class="mr-2 fw-medium fs-6">Donald Trump</span>
                                                    <small class="c-badge">Top Comment</small>
                                                </div>


                                            </div>

                                            <p class="text-justify comment-text mb-0">Good Service, Best view, good expermient ! , Good Service, Best view, good expermient !, Good Service, Best view, good expermient !</p>


                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>







            </div>

            <div class="col-lg-4 p-4 room-checkout position-relative mx-auto  ">
                <div class="d-flex justify-content-between">
                    <span class="fw-bolder fs-3">
                        150$
                        <span class="fw-normal fs-5">night</span>
                    </span>
                </div>
                <div>Guest :</div>

                <div class="input-group my-2">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Select ..</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                </div>

                @*Date Picker*@




                @*Price and Fees*@
                <div class="my-4">
                    <div class="d-flex justify-content-between mb-4  ">
                        <p class="text-black-50 fw-bold">1 nights</p>
                        <p class=" fw-bold primaryColor">100$</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4  text-black-50">
                        <p class="text-black-50 fw-bold">Airbnb Service Fee</p>
                        <p class=" fw-bold primaryColor">40$</p>
                    </div>

                    <div class="d-flex justify-content-between pb-4 text-black-50 border-bottom">
                        <p class="text-black-50 fw-bold">Cleaning Fee</p>
                        <p class=" fw-bold primaryColor">14$</p>
                    </div>

                    @*TOTAL FEE*@
                    <div class="d-flex justify-content-between pt-4 text-black-50 ">
                        <p class="fw-bold fs-4">Total Fee</p>
                        <p class=" fw-bold primaryColor fs-4">154$</p>
                    </div>

                </div>

                @*Button*@
                <a class="btn-reserve position-absolute fixed-bottom " href="#">Reserve</a>


            </div>
        </div>
    </section>

</main>

