
@{
    ViewBag.Title = "SuccessfullyPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid row" style="margin-block: 120px;">

    <div class="col-lg-8 d-flex flex-column align-items-center justify-content-center">

        <h1 class="primaryColor fw-bold">Pay successfully !</h1>
        <div class="d-flex align-items-center  column-gap-4 my-4">
            <a class="btn btn-primary" href="@Url.Action("Index","Home")">Back to HomePage</a>
            <a class="btn btn-danger" href="#">Go to Bills</a>
        </div>

    </div>

    <div class="col-lg-4">
        <img style="width: 100%" class="object-fit-cover" src="https://www.elenwinata.com/wp-content/uploads/2017/12/07_airbnb.png" alt="Alternate Text" />

    </div>

</div>

