<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Assets/Images/airbnb_logo.png">


    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div>
        @RenderBody()
    </div>











    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/Scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/103727226d.js" crossorigin="anonymous"></script>
</body>








</html>
