
<nav class="navbar navbar-expand-lg bg-body-tertiary box-shadow m-0 ">
    <div class="container-fluid">
        <div class="d-flex justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center">
                <a class="nav-link active link" asp-controller="MainFeatures" asp-action="getAll"><img width="32" height="32" src="~/Assets/Images/airrbnb_logo.png" class="img-icon" /><br /><span>All Places</span></a>

            </div>

            <div class="navbar-nav text-center">
                <a class="nav-link active link" asp-controller="MainFeatures" asp-action="getAll"><img width="32" height="32" src="~/Assets/Images/airrbnb_logo.png" class="img-icon" /><br /><span>All Places</span></a>

            </div>

            <div class="navbar-nav text-center">
                <a class="nav-link active link" asp-controller="MainFeatures" asp-action="getAll"><img width="32" height="32" src="~/Assets/Images/airrbnb_logo.png" class="img-icon" /><br /><span>All Places</span></a>

            </div>
        </div>
    </div>
</nav>