
@{
    ViewBag.Title = "Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="my-4">
    <section class="my-5">
        <div class="row  flex-column flex-lg-row gap-md-4 align-items-center justify-content-center align-items-md-start justify-content-md-start ">

            @*Input Field*@

            <div class="col-lg-7 col px-2  ">
                <h2>Personal Info</h2>
                <div class="my-5 d-flex flex-column row-gap-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column row-gap-2">
                            <p class="fs-5">Name</p>
                            <p id="infoValue" class="text-black-50"></p>

                            <div class="input-group">

                                <input type="text" class="form-control" id="info" value="Initial value" readonly />
                            </div>

                        </div>
                        <div class="input-group-append">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#f55f63" d="m19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575t1.412.575l1.4 1.4q.575.575.6 1.388t-.55 1.387L19.3 8.925ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6l4.25 4.25Z" /></svg>
                            <button class="btn border-0" id="editBtn" onclick="toggleEditField()">Edit</button>

                        </div>

                    </div>
                </div>
            </div>

            @*Noti Panel*@

            <div class="col-lg-4  mx-auto bg-body ">
                fafafw
            </div>
        </div>
    </section>
</main>





@*<div class="form-group">
        <label for="info">Information:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="info" value="Initial value" readonly>
            <div class="input-group-append">
                <button class="btn btn-primary" id="editBtn" onclick="toggleEditField()">Edit</button>

            </div>
        </div>
    </div>*@







<script>
    var infoInput = document.getElementById('info');
    var editBtn = document.getElementById('editBtn');
    var infoValue = document.getElementById('infoValue');

    infoInput.style.display = "none";
    infoValue.textContent = infoInput.value;

    //Toggle input field
    function toggleEditField() {
    



        //Trong trạng thái readonly
        if (infoInput.readOnly) {
            // Bật chế độ cho edit
            infoInput.style.display = "block";
            infoInput.readOnly = false;
            infoValue.style.display = "none";
            infoInput.style.borderColor = '#ff6f63';
            infoInput.autofocus;
            editBtn.textContent = 'Save';
        } else {
            // Lưu lại thay đổi và chuyển về dạng readonly
            infoInput.readOnly = true;
            infoInput.style.display = "none";
            infoInput.style.borderColor = '#dadada';
            infoInput.style.backgroundColor = 'transparent';
            editBtn.textContent = 'Edit';
            infoValue.style.display = "block";
            //Cập nhật giá trị từ input cho <p/>
            infoValue.textContent = infoInput.value;
        }
    }


</script>
