@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 40px;
    padding-right: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input:focus {
        outline: none !important;
        box-shadow: none !important;
    }

.airbnb_logo {
    max-width: 120px;
}

.primaryColor {
    color: #ff5f63;
}

.bg-primary {
    background-color: #ff5f63 !important;
}


a {
    border: none;
    outline: none;
    text-decoration: none;
}
.fixed-bottom{
    z-index: 999;
}


.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
}

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}






p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.accentColor {
    color: #D78DC9;
}

.form-control {
    min-width: 300px !important;
    padding-right: 48px;
}

    .form-control:focus {
        border-color: #ff5f63;
    }

.btn-search {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 50%;
    right: 12px;
}

.user--dropdown {
    background: transparent;
    padding: 5px 5px 5px 12px;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
}

    .user--dropdown:hover {
        transition: 0.8s ease-in-out;
        background-color: #ff5f63;
        opacity: 0.75;
    }

.dropdown-menu.show {
    min-width: 160px;
    margin-top: 6px;
    z-index:1300;
}

.dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: auto;
}

.appNav {
    display: flex !important;
    justify-content: space-between !important;
}



.carousel {
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-next {
    right: -10%;
}

carousel-inner {
    position: relative;
}

.carousel-item {
    width: 100%;
}

    .carousel-item.active {
        display: block;
    }



.placeView {
    cursor: pointer;
}

    .placeView:hover > span {
        color: #ff5f63;
        transition: 0.25s ease-in-out;
    }

.placeSvg {
    width: 32px;
    height: 32px;
    fill: #888888;
}

.placeView:hover .placeSvg-path {
    transition: 0.25s ease-in-out;
    fill: #ff5f63;
}


/*Gallery Image*/
.placeFrame {
    max-width: 334px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.placeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
    row-gap: 12px;
}

.slider-frame {
    overflow: hidden;
    height: 300px;
    width: 320px;
    margin-top: 20px;
}

@keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 340px;
    }

    30% {
        left: 340px;
    }

    40% {
        left: 680px;
    }

    50% {
        left: 680px;
    }

    60% {
        left: 340px;
    }

    70% {
        left: 340px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}

.slide-images {
    height: 300px;
    width: 1020px;
    margin: 0 0 0 -680px;
    display: flex;
    column-gap: 1px;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.img-container {
    height: 300px;
    width: 340px;
    position: relative;
    float: left;
}

.img {
    width: 330px;
    height: 300px;
    border-radius: 20px;
}

    .img:hover {
        transform: scale(1.125) rotate(3deg);
        transition: 0.5s linear;
    }



.TypeAndRating {
    width: 300px;
    justify-content: space-between;
}

.PRating {
    margin-left: 100px;
}

.footer-border {
    border-bottom: 1px solid rgba(255, 95, 99, 0.5);
}


.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff5f63;
    padding: 20px;
    border: 1px solid #ff5f63;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .custom-alert.show {
        opacity: 1;
    }



.content {
    position: relative;
    width: 50%;
    /*height: 160px;*/
    overflow: hidden;
    font-size: 35px;
    line-height: 40px;
    color: black;

}

.content__container {
    font-weight: bold;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

    .content__container:before {
        content: '[';
        left: 0;
    }

    .content__container:after {
        content: ']';
        position: absolute;
        right: 0;
    }

    .content__container:after,
    .content__container:before {
        position: absolute;
        top: 0;
        color: #ff5f63;
        font-size: 42px;
        line-height: 40px;
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 90px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height: 40px;
    margin: 0;
}

/*@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0,0,0);
    }

    16.66%, 29.32% {
        transform: translate3d(0,-25%,0);
    }

    33.32%,45.98% {
        transform: translate3d(0,-50%,0);
    }

    49.98%,62.64% {
        transform: translate3d(0,-75%,0);
    }

    66.64%,79.3% {
        transform: translate3d(0,-50%,0);
    }

    83.3%,95.96% {
        transform: translate3d(0,-25%,0);
    }
}
*/
/*@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0,0,0);
    }

    16.66%, 29.32% {
        transform: translate3d(0,-25%,0);
    }

    33.32%,45.98% {
        transform: translate3d(0,-50%,0);
    }

    49.98%,62.64% {
        transform: translate3d(0,-75%,0);
    }

    66.64%,79.3% {
        transform: translate3d(0,-50%,0);
    }

    83.3%,95.96% {
        transform: translate3d(0,-25%,0);
    }
}*/

/*@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0,0,0);
    }

    16.66%, 29.32% {
        transform: translate3d(0,-25%,0);
    }

    33.32%,45.98% {
        transform: translate3d(0,-50%,0);
    }

    49.98%,62.64% {
        transform: translate3d(0,-75%,0);
    }

    66.64%,79.3% {
        transform: translate3d(0,-50%,0);
    }

    83.3%,95.96% {
        transform: translate3d(0,-25%,0);
    }
}*/

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%, 4.55%, 100% {
        transform: translate3d(0, 0, 0);
    }

    6.06%, 10.61% {
        transform: translate3d(0, -50%, 0);
    }

    12.12%, 16.67% {
        transform: translate3d(0, -100%, 0);
    }

    18.18%, 22.73% {
        transform: translate3d(0, -50%, 0);
    }

    25.76%, 30.31% {
        transform: translate3d(0, 0, 0);
    }

    32.32%, 36.87% {
        transform: translate3d(0, -50%, 0);
    }

    38.38%, 42.93% {
        transform: translate3d(0, -100%, 0);
    }

    45.45%, 50% {
        transform: translate3d(0, -50%, 0);
    }
}



/*// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE :
// y = 4 - > Animation between two lines
// x = 12.66 - > Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines*/




.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart_label {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}

input {
    display: none;
}

    input:checked + label svg {
        fill: hsl(0deg 100% 50%);
        stroke: hsl(0deg 100% 50%);
        -webkit-animation: heartButton 1s;
        animation: heartButton 1s;
    }

@-webkit-keyframes heartButton {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes heartButton {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

    input + label .action span {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        -webkit-transition: all .25s;
        transition: all .25s;
    }


        input + label .action span.option-1 {
            -webkit-transform: translate(0px,0%);
            -ms-transform: translate(0px,0%);
            transform: translate(0px,0%);
            opacity: 1;
        }


        input + label .action span.option-2 {
            -webkit-transform: translate(0px,100%);
            -ms-transform: translate(0px,100%);
            transform: translate(0px,100%);
            opacity: 0;
        }

input:checked + label .action span.option-1 {
    -webkit-transform: translate(0px,-100%);
    -ms-transform: translate(0px,-100%);
    transform: translate(0px,-100%);
    opacity: 0;
}

input:checked + label .action span.option-2 {
    -webkit-transform: translate(0px,100%);
    -ms-transform: translate(0px,100%);
    transform: translate(0px,100%);
    opacity: 0;
}

input:checked + label .action span.option-2 {
    -webkit-transform: translate(0px,0%);
    -ms-transform: translate(0px,0%);
    transform: translate(0px,0%);
    opacity: 1;
}

.room-grid {
    padding: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow: hidden;
}

.mini-room-image {
    width: 270px;
    min-height: 198px;
    object-fit: cover;
}


#gallery > img {
    height: 75vw;
    object-fit: cover;
}

.carousel-item > img {
    height: 60vw;
    object-fit: cover;
}

.border-custom-bottom {
    border-bottom: 1px solid #ff5f63;
}

.room-checkout {
    width: 370px;
    min-height: 500px;
    border-radius: 22px;
    border: 1px solid #ff5f63;
    overflow: hidden;
}

.room-checkout-booked {
    width: 300px;
    max-height: 300px;
    border-radius: 22px;
    background-color: #ff5f63;
    color: white;
    overflow: hidden;
}

.text-description {
    color: #222222;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}

.form-select {
    text-align: center;
    color: #ff5f63;
    max-width: 100% !important;
}

.btn-reserve {
    display: block;
    background-color: #ff5f63;
    text-align: center;
    max-width: 100%;
    padding: 12px 0;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

    .btn-reserve:hover {
        opacity: 75%;
        transition: 0.25s linear;
    }

/*-----DATE PICKER-----*/


.card {
    background-color: #fff;
    border: none;
}

.form-color {
    background-color: #fafafa;
}

.comment-section {
    width: 100%;
    min-height: 50px;
    border-radius: 12px;
    resize: none;
    padding-inline: 12px;
    padding-block: 4px;
    overflow: hidden;
}

    .comment-section:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff5f63;
        outline: 0;
        box-shadow: none;
    }

.c-badge {
    background-color: #ff5f63;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.comment-text {
    font-size: 13px;
}

.user-general-box {
    padding: 32px 24px;
    background-color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
}

.sub-text-color {
    color: #222222;
}

.about-user-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
    border-radius: 24px;
}

/*SIGN UP FORM*/

/*For host*/
.intro-section-host {
    background-image: url("/Assets/Images/host_cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 95px;
    min-height: 80vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #ffffff;
}


/*For normal user*/
.intro-section {
    background-image: url("/Assets/Images/airbnb_signup_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 95px;
    min-height: 80vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #ffffff;
}

@media (max-width: 991px) {
    .intro-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .intro-section {
        padding: 28px;
    }
}

@media (max-width: 575px) {
    .intro-section {
        min-height: auto;
    }
}

.brand-wrapper .logo {
    height: 35px;
}

@media (max-width: 767px) {
    .brand-wrapper {
        margin-bottom: 35px;
    }
}

.intro-content-wrapper {
    width: 410px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

    .intro-content-wrapper .intro-title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 17px;
    }

    .intro-content-wrapper .intro-text {
        font-size: 19px;
        line-height: 1.37;
    }





@media (max-width: 767px) {
    .intro-section-footer {
        margin-top: 35px;
    }
}

.intro-section-footer .footer-nav a {
    font-size: 20px;
    font-weight: bold;
    color: inherit;
}

@media (max-width: 767px) {
    .intro-section-footer .footer-nav a {
        font-size: 14px;
    }
}

.intro-section-footer .footer-nav a + a {
    margin-left: 30px;
}

.form-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .form-section {
        padding: 35px;
    }

    .intro-title {
        display: none;
    }
}

.login-wrapper {
    /*width: 300px;*/
    max-width: 100%;
}

@media (max-width: 575px) {
    .login-wrapper {
        width: 100%;
    }
}

.login-wrapper .form-control {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    margin-bottom: 7px;
    border-radius: 12px;
}

    .login-wrapper .form-control:focus {
        border-color: #ff5f63;
    }

    .login-wrapper .form-control::-webkit-input-placeholder {
        color: #ff5f63;
    }

    .login-wrapper .form-control::-moz-placeholder {
        color: #ff5f63;
    }

    .login-wrapper .form-control:-ms-input-placeholder {
        color: #ff5f63;
    }

    .login-wrapper .form-control:-ms-input-placeholder {
        color: #ff5f63;
    }

    .login-wrapper .form-control::placeholder {
        color: #ff5f63;
    }

.login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.login-btn {
    padding: 13px 30px;
    background-color: #ff5f63;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 12px;
    color: #fff;
}

    .login-btn:hover {
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
    }


input[type="date"] {
    background-color: #ff5f63;
    padding: 12px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
    -webkit-text-fill-color: white;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}

/*PAYMENT*/

.card {
    width: 340px;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
}

.total-amount {
    font-size: 22px;
    font-weight: 700;
    color: #383737;
}

.amount-container {
    background-color: #e9eaeb;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

.amount-text {
    font-size: 20px;
    font-weight: 700;
    color: #ff5f63;
}

.dollar-sign {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.label-text {
    font-size: 16px;
    font-weight: 600;
    color: #b2b2b2;
}

.credit-card-number {
    width: 290px;
    z-index: 28;
    border: 2px solid #ced4da;
    border-radius: 6px;
    font-weight: 600;
    position: relative !important;
}

    .credit-card-number:focus {
        box-shadow: none;
        border: 2px solid #673AB7;
    }

.visa-icon {
    z-index: 30;
}

.expiry-class {
    width: 120px;
    border: 2px solid #ced4da;
    font-weight: 600;
    font-size: 12px;
    height: 48px;
}

    .expiry-class:focus {
        box-shadow: none;
        border: 2px solid #673AB7;
    }

.cvv-class {
    width: 100%;
    border: 2px solid #ced4da;
    font-weight: 600;
    height: 48px;
}

    .cvv-class:focus {
        box-shadow: none;
        border: 2px solid #673AB7;
    }


.label-text-cc-number {
    position: relative;
    top: 4px;
}


.cross {
    padding: 10px;
    color: #d6312d;
    cursor: pointer;
    font-size: 23px;
}

    .cross i {
        margin-top: -5px;
        cursor: pointer;
    }







.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ff0000
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}

    .send:hover {
        color: #fff;
        background-color: #f50202;
        border-color: #f50202
    }

.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse;
}

    .rating > input {
        display: none
    }

    .rating > label {
        position: relative;
        width: 28px;
        font-size: 35px;
        color: #ff0000;
        cursor: pointer;
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

    .rating > input:checked ~ label:before {
        opacity: 1
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4
    }




/*PRICE SLIDER*/



/*DASHBOARD*/

.dash {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.dash-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    margin-top: 84px;
}

@media (min-width: 992px) {
    .dash-app {
        margin-left: 238px;
    }

    .dash-compact .dash-app {
        margin-left: 0;
    }
}

.dash-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    padding: 25px;
}

@media (max-width: 767.98px) {
    .dash-content {
        padding: 15px 0px;
    }
}

.dash-row {
    margin-bottom: 30px;
}

.form-screen {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
}

    .form-screen .easion-logo {
        margin-bottom: 60px;
        opacity: .9;
    }

        .form-screen .easion-logo i {
            color: #515151;
        }

.account-dialog {
    max-width: 360px;
}

@media (min-width: 1200px) {
    .account-dialog {
        min-width: 360px;
    }
}

.account-dialog-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.account-dialog-link {
    margin-left: 15px;
    font-size: 14px;
    color: rgba(81, 81, 81, 0.8);
}

    .account-dialog-link:hover {
        color: #515151;
        text-decoration: none;
    }

.dash-nav {
    min-width: 238px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.dash-compact .dash-nav {
    display: none;
}

.dash-nav::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@media (max-width: 991.98px) {
    .dash-nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1070;
    }

        .dash-nav.mobile-show {
            display: block;
        }
}

.dash-nav header {
    min-height: 84px;
    padding: 8px 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .dash-nav header .menu-toggle {
        display: none;
        margin-right: auto;
    }

@media (max-width: 991.98px) {
    .dash-nav header .menu-toggle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.dash-nav header .easion-logo {
    margin-right: auto;
    padding-right: 42px;
}

.dash-nav a {
    color: #515151;
}

    .dash-nav a:hover {
        text-decoration: none;
    }

.dash-nav.dash-nav-dark {
    background-color: #181F2C;
}

    .dash-nav.dash-nav-dark a {
        color: #fff;
    }

.easion-logo {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #515151;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .easion-logo:focus, .easion-logo:active, .easion-logo:hover {
        color: #515151;
        text-decoration: none;
    }

    .easion-logo i {
        color: #576177;
        font-size: 27px;
        margin-right: 10px;
    }

.dash-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dash-nav-item {
    min-height: 56px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: .02em;
}

    .dash-nav-item i {
        width: 36px;
        font-size: 19px;
        margin-left: -40px;
    }

.dash-nav-dark .dash-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
}

.dash-nav-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dash-nav-dark .dash-nav-dropdown.show {
    background: rgba(255, 255, 255, 0.04);
}

.dash-nav-dropdown.show > .dash-nav-dropdown-toggle {
    font-weight: bold;
}

    .dash-nav-dropdown.show > .dash-nav-dropdown-toggle:after {
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }

.dash-nav-dropdown.show > .dash-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.dash-nav-dropdown.show .dash-nav-dropdown.show {
    background: none;
}

.dash-nav-dropdown-toggle:after {
    content: "";
    margin-left: auto;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(81, 81, 81, 0.8);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dash-nav-dark .dash-nav-dropdown-toggle:after {
    border-top-color: rgba(255, 255, 255, 0.72);
}

.dash-nav-dropdown-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .dash-nav-dropdown-menu > .dash-nav-dropdown .dash-nav-dropdown-menu .dash-nav-dropdown-item {
        padding-left: 87px;
    }

.dash-nav-dropdown-item {
    min-height: 40px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .dash-nav-dropdown-item:hover {
        background: rgba(255, 255, 255, 0.04);
    }

.fas {
    color: #ff5f63;
}

.notifications {
    margin: -8px -32px;
}

@media (max-width: 767.98px) {
    .notifications {
        margin: -8px -18px;
    }
}

.notification {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 32px;
    color: #515151;
}

    .notification:hover, .notification:focus, .notification:active {
        color: #515151;
        text-decoration: none;
        background-color: #F0F1F7;
    }

.notification-icon {
    width: 35px;
}

.notification-time {
    opacity: .8;
}

.notifications-show-all {
    margin-top: 8px;
}

    .notifications-show-all a {

        text-decoration: underline;
    }

        .notifications-show-all a:focus, .notifications-show-all a:hover, .notifications-show-all a:active {
            color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
            transition: 0.25s ease-in-out;
        }

.table-in-card {
    margin: -12px 0;
}

    .table-in-card thead tr th {
        border-top-color: transparent;
    }

.card-body-with-dark-table {
    background-color: #212529;
}

.menu-toggle, .searchbox-toggle, .searchbox-submit, .tools-item {
    position: relative;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #515151;
}

    .menu-toggle:hover, .searchbox-toggle:hover, .searchbox-submit:hover, .tools-item:hover, .menu-toggle:active, .searchbox-toggle:active, .searchbox-submit:active, .tools-item:active, .menu-toggle:focus, .searchbox-toggle:focus, .searchbox-submit:focus, .tools-item:focus {
        text-decoration: none;
        color: #515151;
    }

    .menu-toggle i, .searchbox-toggle i, .searchbox-submit i, .tools-item i {
        font-size: 20px;
    }

    .tools-item .tools-item-count {
        width: 15px;
        height: 15px;
        border-radius: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 3px;
        right: 3px;
        font-style: normal;
        font-size: 11px;
        background: #FF5A00;
        color: #fff;
    }

.dash-toolbar {
    min-height: 84px;
    background-color: #F3F3F3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 27px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

@media (min-width: 992px) {
    .dash-toolbar {
        left: 238px;
    }

    .dash-compact .dash-toolbar {
        left: 0;
    }
}

.searchbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
}

@media (max-width: 767.98px) {
    .searchbox {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: #F3F3F3;
        min-height: 84px;
        z-index: 1071;
        padding: 8px 27px;
    }

        .searchbox.show {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
}

.searchbox-toggle {
    display: none;
    color: #515151;
}

    .searchbox-toggle:hover, .searchbox-toggle:active, .searchbox-toggle:focus {
        text-decoration: none;
        color: #515151;
    }

@media (max-width: 767.98px) {
    .searchbox-toggle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.searchbox-input {
    border: none;
    background-color: #F3F3F3;
    height: 50px;
    padding: 8px 8px 11px 4px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    width: 100px;
}

    .searchbox-input::-webkit-input-placeholder {
        color: #8b8b8b;
    }

    .searchbox-input::-moz-placeholder {
        color: #8b8b8b;
    }

    .searchbox-input:-ms-input-placeholder {
        color: #8b8b8b;
    }

    .searchbox-input::-ms-input-placeholder {
        color: #8b8b8b;
    }

    .searchbox-input::placeholder {
        color: #8b8b8b;
    }

    .searchbox-input:focus {
        outline: none;
    }

.searchbox-submit {
    border: none;
    background: none;
    padding: 0;
}

@media (max-width: 767.98px) {
    .searchbox-submit {
        -webkit-box-ordinal-group: 10;
        -webkit-order: 9;
        -ms-flex-order: 9;
        order: 9;
    }
}

.searchbox-submit:focus {
    outline: none;
}

.searchbox-submit:hover {
    cursor: pointer;
}

.tools {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    .tools a {
        color: #515151;
    }

.stats {
    padding: 18px 23px;
    font-family: "Nunito", sans-serif;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 170px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.stats-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.stats-title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: .04em;
}

.stats-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 20px;
}

.stats-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: auto;
}

.stats-number {
    font-size: 33px;
    line-height: 33px;
    font-weight: 600;
    letter-spacing: .04em;
    color: white;
}

.stats-change {
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.stats-percentage {
    opacity: 1;
}

.stats-timeframe {
    opacity: .5;
}

.stats-primary {
    color: #fff;
    background: #3F84FC;
}

.stats-secondary {
    color: #fff;
    background: #727F94;
}

.stats-success {
    color: #fff;
    background: #1DAB47;
}

.stats-info {
    color: #fff;
    background: #8A3FFC;
}

.stats-warning {
    color: #212529;
    background: #FCAE3F;
}

.stats-danger {
    color: #fff;
    background: #FC413F;
}

.stats-light {
    color: #212529;
    background: #f8f9fa;
}

.stats-dark {
    color: #fff;
    background: #1E232D;
}



.easion-card {
    border: 1px solid #D3D3D3;
    background: #fff;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 350px;
    min-width: 550px;
}

    .easion-card .card-header {
        min-height: 57px;
        background-color: #F0F1F7;
        display: flex;
        align-items: center;
        padding: 8px 32px;
    }

    .easion-card .card-body {
        padding: 24px 32px;
    }



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.custom-modal-dialog {
    max-width: 750px;

}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/*404 not found*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);




.circles:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #fff;
    position: absolute;
    top: -50px;
    left: 0;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
}

.circles {
    background: #fff;
    text-align: center;
    position: relative;
    margin-top: -60px;
    overflow: hidden;
    box-shadow: inset -1px -4px 4px rgba(0,0,0,0.15);
}

    .circles p {
        font-size: 240px;
        color: #fff;
        padding-top: 60px;
        position: relative;
        z-index: 9;
        line-height: 100%;
    }

        .circles p small {
            font-size: 40px;
            line-height: 100%;
            vertical-align: top;
        }

    .circles .circle.small {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background: #ccc;
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 50%;
        animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);
        -webkit-animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);
        animation-delay: 1.2s;
        -webkit-animation-delay: 1.2s;
    }

    .circles .circle.med {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #ccc;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 10%;
        animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
        -webkit-animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
    }

    .circles .circle.big {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: #ccc;
        position: absolute;
        z-index: 1;
        top: 200px;
        right: 0;
        animation: 8s bigmove infinite;
        -webkit-animation: 8s bigmove infinite;
        animation-delay: 3s;
        -webkit-animation-delay: 1s;
    }

@-webkit-keyframes smallmove {
    0% {
        top: 10px;
        left: 45%;
        opacity: 1;
    }

    25% {
        top: 300px;
        left: 40%;
        opacity: 0.7;
    }

    50% {
        top: 240px;
        left: 55%;
        opacity: 0.4;
    }

    75% {
        top: 100px;
        left: 40%;
        opacity: 0.6;
    }

    100% {
        top: 10px;
        left: 45%;
        opacity: 1;
    }
}

@keyframes smallmove {
    0% {
        top: 10px;
        left: 45%;
        opacity: 1;
    }

    25% {
        top: 300px;
        left: 40%;
        opacity: 0.7;
    }

    50% {
        top: 240px;
        left: 55%;
        opacity: 0.4;
    }

    75% {
        top: 100px;
        left: 40%;
        opacity: 0.6;
    }

    100% {
        top: 10px;
        left: 45%;
        opacity: 1;
    }
}

@-webkit-keyframes medmove {
    0% {
        top: 0px;
        left: 20%;
        opacity: 1;
    }

    25% {
        top: 300px;
        left: 80%;
        opacity: 0.7;
    }

    50% {
        top: 240px;
        left: 55%;
        opacity: 0.4;
    }

    75% {
        top: 100px;
        left: 40%;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        left: 20%;
        opacity: 1;
    }
}

@keyframes medmove {
    0% {
        top: 0px;
        left: 20%;
        opacity: 1;
    }

    25% {
        top: 300px;
        left: 80%;
        opacity: 0.7;
    }

    50% {
        top: 240px;
        left: 55%;
        opacity: 0.4;
    }

    75% {
        top: 100px;
        left: 40%;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        left: 20%;
        opacity: 1;
    }
}

@-webkit-keyframes bigmove {
    0% {
        top: 0px;
        right: 4%;
        opacity: 0.5;
    }

    25% {
        top: 100px;
        right: 40%;
        opacity: 0.4;
    }

    50% {
        top: 240px;
        right: 45%;
        opacity: 0.8;
    }

    75% {
        top: 100px;
        right: 35%;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        right: 4%;
        opacity: 0.5;
    }
}

@keyframes bigmove {
    0% {
        top: 0px;
        right: 4%;
        opacity: 0.5;
    }

    25% {
        top: 100px;
        right: 40%;
        opacity: 0.4;
    }

    50% {
        top: 240px;
        right: 45%;
        opacity: 0.8;
    }

    75% {
        top: 100px;
        right: 35%;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        right: 4%;
        opacity: 0.5;
    }
}



/*---------------------------------------------------------------------------*/
/* Optional custom styles for disabled elements */
.disabled-select,
.disabled-date-picker {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.disabled-button {
    background-color: #f0f0f0;
    cursor: not-allowed;
    pointer-events: none;
}
